/* 1 rem = tile height */
html {
    font-size: 24px;
}

/* 1 em = tile width */
.tile {
    font-size: 18px;
    width: 1em;
    height: 1rem;
}

.wall {
    -webkit-mask: url(tileset.png), 0em 0rem;
    mask: url(tileset.png), 0em 0rem;
    background: black;
}

.floor {
    background-position: 1em 0rem;
}
