/* Styles for the map display's individual tiles */

/* 1 rem = tile height */
html {
    font-size: 24px;
}

/* 1 em = tile width */
.tile {
    font-size: 18px;
    width: 1em;
    height: 1rem;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    position: absolute;
    background: #EEE;
}

/* Tiles */

.WALL, .WALL0, .dWALL0 {
    display: none;
}

.WALL1 {
    -webkit-mask: url(tileset.png) -1em -9rem;
}

.WALL2 {
    -webkit-mask: url(tileset.png) -2em -9rem;
}

.WALL3 {
    -webkit-mask: url(tileset.png) -3em -9rem;
}

.WALL4 {
    -webkit-mask: url(tileset.png) -4em -9rem;
}

.WALL5 {
    -webkit-mask: url(tileset.png) -5em -9rem;
}

.WALL6 {
    -webkit-mask: url(tileset.png) -6em -9rem;
}

.WALL7 {
    -webkit-mask: url(tileset.png) -7em -9rem;
}

.dWALL1 {
    -webkit-mask: url(tileset.png) -1em -10rem;
}

.dWALL2 {
    -webkit-mask: url(tileset.png) -2em -10rem;
}

.dWALL3 {
    -webkit-mask: url(tileset.png) -3em -10rem;
}

.dWALL4 {
    -webkit-mask: url(tileset.png) -4em -10rem;
}

.dWALL5 {
    -webkit-mask: url(tileset.png) -5em -10rem;
}

.dWALL6 {
    -webkit-mask: url(tileset.png) -6em -10rem;
}

.dWALL7 {
    -webkit-mask: url(tileset.png) -7em -10rem;
}

.FLOOR {
    -webkit-mask: url(tileset.png) -1em -4rem;
    background: #FFF;
}

.DEEP_WATER {
    -webkit-mask: url(tileset.png) -3em -4rem;
    background: #44F;
}

.SHALLOW_WATER {
    -webkit-mask: url(tileset.png) -3em -4rem;
    background: #88F;
}

/* Colors */

.black {
    background: #000;
}

.white {
    background: #FFF;
}
