/* Styles for the map display's individual tiles */

/* 1 rem = tile height */
html {
    font-size: 24px;
}

/* 1 em = tile width */
.tile {
    font-size: 18px;
    width: 1em;
    height: 1rem;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    position: absolute;
    background: #EEE;
}

/* Tiles */

.WALL {
    -webkit-mask: url(tileset.png) 0em 0rem;
    mask: url(tileset.png) 0em 0rem;
    background: #999;
}

.FLOOR {
    -webkit-mask: url(tileset.png) -1em 0rem;
    mask: url(tileset.png) -1em 0rem;
}

.DEEP_WATER {
    -webkit-mask: url(tileset.png) -5em 0rem;
    mask: url(tileset.png) -5em 0rem;
    background: #44F;
}

.SHALLOW_WATER {
    -webkit-mask: url(tileset.png) -4em 0rem;
    mask: url(tileset.png) -4em 0rem;
    background: #88F;
}

/* Colors */

.black {
    background: #000;
}

.white {
    background: #FFF;
}
