@font-face {
    font-family: "oryx";
    src: url("Oryx-Regular.woff");
}

/* general positioning */

body {
    background: #000;
    margin: 0;
}

/* 1 rem = tile height */
html {
    font-size: 24px;
}

canvas {
    image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

/* 1 em = tile width */
.tile {
    font-size: 18px;
    width: 18px;
    height: 24px;
    position: absolute;
    text-align: center;
}
