@font-face {
    font-family: "oryx";
    src: url("Oryx-Regular.woff");
}

/* general positioning */

body {
    background: #000;
    margin: 0;
}

/* 1 rem = tile height */
html {
    font-size: 24px;
}

/* 1 em = tile width */
.tile {
    font-size: 18px;
    width: 18px;
    height: 24px;
    position: absolute;
    font: 24px/1 oryx;
    text-align: center;
}
