/* general positioning */

body {
    background: #000;
    margin: 0;
}

/* 1 rem = tile height */
html {
    font-size: 24px;
}

/* 1 em = tile width */
.tile {
    font-size: 18px;
    width: 1em;
    height: 1rem;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    position: absolute;
    background: #EEE;
}

/* tiles */
.empty {
    opacity: 0;
}

.wall {
    -webkit-mask: url(tileset.png) 0em 0rem;
    mask: url(tileset.png) 0em 0rem;
    background: #999;
}

.floor {
    -webkit-mask: url(tileset.png) -1em 0rem;
    mask: url(tileset.png) -1em 0rem;
}

.shortGrass {
    -webkit-mask: url(tileset.png) -2em 0rem;
    mask: url(tileset.png) -2em 0rem;
    background: #080;
}

.tallGrass {
    -webkit-mask: url(tileset.png) -3em 0rem;
    mask: url(tileset.png) -3em 0rem;
    background: #080;
}

.lowSpikes {
    -webkit-mask: url(tileset.png) -2em 0rem;
    mask: url(tileset.png) -2em 0rem;
    background: #888;
}

.highSpikes {
    -webkit-mask: url(tileset.png) -3em 0rem;
    mask: url(tileset.png) -3em 0rem;
    background: #888;
}

.deepWater {
    -webkit-mask: url(tileset.png) -5em 0rem;
    mask: url(tileset.png) -5em 0rem;
    background: #44F;
}

.shallowWater {
    -webkit-mask: url(tileset.png) -4em 0rem;
    mask: url(tileset.png) -4em 0rem;
    background: #88F;
}

.player {
    -webkit-mask: url(tileset.png) 0em -1rem;
    mask: url(tileset.png) 0em -1rem;
}
